#predictPage {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#formFile {
  max-width: 500px;
  text-align: center;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-preview {
  text-align: center;
  margin-top: 20px;
}

.image-preview img {
  max-width: 100%;
  max-height: 300px;
  border: 1px solid #dee2e6;
  border-radius: 8px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  margin-top: 20px;
}

.prediction-result {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  background-color: #e9ecef;
}
